/* header */
.header {
  background: #FA8C16;
  padding: 16px 0;
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.15);
}

.header__wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 58px;
}

.header__nav {
  margin-right: auto;
}

.header__link {
  margin-right: 15px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #FAFAFA;
}

.header__inputgroup {
  width: 237px; 
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 5px 8px 5px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__input {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #BFBFBF;
}

.header__button {
background-color: #fff;
cursor: pointer;
}
/* обертка */
.wrapper {}
/* MAin*/
.posts {}

.post {}

.post__title {}

.post__text {}

.post__tags {}

.post__tag {}

.post__footer {}

.post__btns {}

.post__author {}

.post__author-info {}

.post__author-nikname {}

.post__author-last-in {}

.post__author-ava {}